body {
  background-color: #f2f5f7;
}

.container {
  margin-top: 80px;
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(7, 141, 18, 0.308);
}

h2 {
  color: #198754;
  font-weight: bold;
}

.form-control {
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
  font-weight: bold;
  transition: transform 280ms ease;
}

.btn:active {
  transform: translateY(-4px);
}

.form-control:focus {
  border-color: #00a740b0;
  box-shadow: 0 0 0 0.25rem rgba(3, 134, 42, 0.25);
}
